<!--
{% for page in site.pages %}
  {% unless page.name == '404.md' %}
    {% if page.title %}
      <li class='c-nav__item' role='presentation'>
        <a class='c-nav__link' href='{{ page.url | prepend: site.baseurl }}'>{{ page.title }}</a>
      </li>
    {% endif %}
  {% endunless %}
{% endfor %}
-->


<div class='c-nav__item' role='presentation'>
	<li><a class='c-nav__link' href="/">Home</a></li>
	<li><a class='c-nav__link' href="/About">About</a></li>
	<li><a class='c-nav__link' href="/Study">Study</a></li>

		<ul>
			<li>
				<a class='c-nav__link' href="/Study/git">Git</a>
			</li>
			<li>
				<a class='c-nav__link' href="/Study/python">Python</a>
			</li>
			<li>
				<a class='c-nav__link' href="/Study/ws">Web Scraping</a>
			</li>
			<li>
				<a class='c-nav__link' href="/Study/linux">Linux Administration</a>
			</li>
			<li>
				<a class='c-nav__link' href="/Study/web">Web</a>
			</li>
			<li>
				<a class='c-nav__link' href="/Study/ml">Machine Learning</a>
			</li>
			<li>
				<a class='c-nav__link' href="/Study/security">Security</a>
			</li>
			<li>
				<a class='c-nav__link' href="/Study/db">Database</a>
			</li>
			<li>
				<a class='c-nav__link' href="/Study/ctm">Coding The Matrix</a>
			</li>
			<li>
				<a class='c-nav__link' href="/Study/aws">AWS</a>
			</li>

		</ul>

	<li><a class='c-nav__link' href="/chat">사담</a></li>
</div>
