<!--
{% for page in site.pages %}
  {% unless page.name == '404.md' %}
    {% if page.title %}
      <li class='c-nav__item' role='presentation'>
        <a class='c-nav__link' href='{{ page.url | prepend: site.baseurl }}'>{{ page.title }}</a>
      </li>
    {% endif %}
  {% endunless %}
{% endfor %}
-->


<div class='c-nav__item' role='presentation'>
	<li><a class='c-nav__link' href="/">Home</a></li>
	<li><a class='c-nav__link' href="/About">About</a></li>
	<li><a class='c-nav__link' href="/Study">Study</a></li>

		<ul>
			<li>
				<a class='c-nav__link' href="/Study/Git">Git</a>
			</li>
			<li>
				<a class='c-nav__link' href="/Study/Python">Python</a>
			</li>
			<li>
				<a class='c-nav__link' href="/Study/WS">Web Scraping</a>
			</li>
			<li>
				<a class='c-nav__link' href="/Study/Linux">Linux Administration</a>
			</li>
			<li>
				<a class='c-nav__link' href="/Study/Web">Web</a>
			</li>
			<li>
				<a class='c-nav__link' href="/Study/ML">Machine Learning</a>
			</li>
			<li>
				<a class='c-nav__link' href="/Study/Security">Security</a>
			</li>
			<li>
				<a class='c-nav__link' href="/Study/DB">Database</a>
			</li>
			<li>
				<a class='c-nav__link' href="/Study/CM">Coding The Matrix</a>
			</li>
			<li>
				<a class='c-nav__link' href="/Study/AWS">AWS</a>
			</li>

		</ul>

	<li><a class='c-nav__link' href="/chat">사담</a></li>
</div>
