/*------------------------------------*\
  Components > Content
\*------------------------------------*/

.c-content {
	font-size: 16px;
  a:not(.c-btn) {
    text-decoration: underline;
    text-decoration-skip: ink;

    @include attention() {
      color: $color-brand;
    }
  }
}


