/*------------------------------------*\
  Components > Site Navigation
\*------------------------------------*/

.c-nav {
  &__item {
    font-size: $font-size-medium;
  }

  &__link {
    display: block;
    transition: $global-transition;

    &--current {
      color: $color-brand;

      .home-template &:not(:hover) {
        color: $color-link;
      }
    }

    @include attention() {
      color: $color-brand;
      text-decoration: none;
    }
  }
}


ul li {
// 	background : rgb(109,109,109);
	// display : none;  /* 평상시에는 서브메뉴가 안보이게 하기 */
  list-style : none;
	// height : auto;
	padding : 0 0 0 20px;
	// margin : 0px;
	// border : 0px;
	// position : absolute;
/*
	width : 200px;
	z-index : 200;
*/
}

ul > li a {
	color : #7e7e7e;
}

// li:hover ul {
// 	display : block;
// }
